.dashboard-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px; 
  margin: 0;
  padding: 0;
  width: 100vw; 
  overflow-x: hidden; 
}

@media (max-width: 1024px) {
  .dashboard-page {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .dashboard-page {
    gap: 20px;
  }
}
